html, body {
    height: 100%;
}

.content {
    margin-left: 20%;
    margin-right: 20%;
}

.link-gray-dark {
    color: #24292e;
    text-decoration: none!important;
}

#new-issue {
    float: right!important;
}

.issue-textarea-comment {
    height: 150px;
    background-color: rgba(0,0,0,.03)!important;
    margin-bottom: 10px;
}

.my-0 {
    margin-right: auto!important;
}

.issues-upper-panel {
    /*background-color: rgba(0,0,0,.03)!important;*/
    margin-top: 1em;
    margin-bottom: 1em;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.logged {
    margin: 0;
}
.card {
    margin-top: 10px;
}

.comments-cnt {
    float: right;
}