{% extends 'base.html' %}

{% block title %}
    Issue tracker
{% endblock %}

{% block content %}
    <div class="issues-upper-panel">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <a class="btn btn-primary {% if show_open %} active {% endif %}" href="/">Open {{ open_issues }}</a>
            <a class="btn btn-primary {% if not show_open %} active {% endif %}" href="/closed">Closed {{ closed_issues }}</a>
        </div>

        <!-- Modal button -->
        <button type="button" id="new-issue" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          New issue
        </button>

    </div>



    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" name="new-issue" action="/new-issue">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">New issue</h4>
              </div>
              <div class="modal-body">
                <input type="text" name="title" id="title" class="form-control" placeholder="Title"><br>
                <input name="author" id="author" class="form-control" placeholder="Nickname"><br>
                <textarea name="text" id="text" class="form-control issue-textarea-comment" placeholder="Leave a comment"></textarea><br>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="New issue">
              </div>
            </form>
        </div>
      </div>
    </div>

    {% for issue in issues %}
        <div class="card">
          <div class="card-header">
            Create on {{ issue.comments.first().pretty_date() }} by {{ issue.author }}
          </div>
          <div class="card-body">
            <a class="link-gray-dark" href="issue/{{ issue.id }}">
              <h4 class="card-title">{{ issue.title }}</h4>
            </a>
          </div>
        </div>

    {% endfor %}
{% endblock %}